

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

      <!-- Sign In -->
      <div class="sign__container">

        <div class="panel panel-default">

          <div class="panel-heading">
            <h4 class="panel-title">
              Sign In to your account
            </h4>
          </div> <!-- / .panel-heading -->

          <div class="panel-body">
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="email">Your e-mail</label>
                <input type="email"
                       id="email"
                       class="form-control"
                       formControlName="email">
              </div>
              <div class="form-group">
                <label for="password">Your password</label>
                <input type="password"
                       id="password"
                       class="form-control"
                       formControlName="password">
              </div>
              <div class="row">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6 text-right">
                  <button class="btn btn-primary"
                          type="submit"
                          [disabled]="!myForm.valid" >
                    Sign In
                  </button>
                </div>
              </div>
            </form>
          </div> <!-- / .panel-body -->

          <div class="panel-footer">
            WELCOME TO CAD COMPANY
          </div> <!-- / .panel-footer -->
        </div> <!-- / .panel -->
      </div> <!-- / .sign__conteiner -->

    </div>
  </div>


