<div class="row col-md-11 col-md-offset-1">
  <div class="col-xs-12">

    <h3 class="page-header">
      All <small>designers</small>
    </h3>

  </div>
</div>
<div class="row col-md-11 col-xs-offset-1">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">CAD Company</h4>
      </div>

      <div class="panel-body">
        <div class="table-responsive">
          <table class="table dataTable no-footer" id="datatables__example">
          <thead>
          <tr role="row"><th class="sorting_asc" tabindex="0"
                             aria-controls="datatables__example"
                             rowspan="1" colspan="1" aria-sort="ascending" aria-label="
                          Name
                        : activate to sort column descending" style="width: 368px;">
            Name
          </th><th class="sorting" tabindex="0"
                   aria-controls="datatables__example"
                   rowspan="1" colspan="1" aria-label="
                          Account type
                        : activate to sort column ascending" style="width: 276px;">
            Account type
          </th><th class="sorting" tabindex="0"
                   aria-controls="datatables__example"
                   rowspan="1" colspan="1" aria-label="
                          Status
                        : activate to sort column ascending" style="width: 171px;">
            Contact
          </th>
            <th *ngIf="isMaster" class="sorting" tabindex="0"
                aria-controls="datatables__example" rowspan="1" colspan="1" aria-label="
                          Status
                        : activate to sort column ascending" style="width: 171px;">
              Delete
            </th></tr>
          </thead>

            <tbody>
              <tr role="row" class="odd"
                  *ngFor="let user of users">
                <td class="sorting_1">
                  <div class="table__avatar">
                    <img src="http://127.0.0.1:8080/images/
                    {{user.userName}}/{{user.imagename}}.{{user.imageext}}"
                         alt="...">
                  </div>

                  <strong><a [routerLink]="['/main','user-profile',user.userName]">
                    {{user.firstName}} {{user.lastName}}</a></strong>


                </td>
                <td>
                  {{user.type}}
                </td>
                <td >
                  {{user.email}}
                </td>
                <td >
                  <button *ngIf="isMaster" class="btn btn-danger"
                          (click)="onDelete(user)">Delete</button>
                </td>
              </tr>
            </tbody>

        </table>
        </div>
      </div>
    </div>
  </div>
</div>
