<br>
<br>
<div class="row col-md-10 col-xs-offset-1">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Files of user: <strong>{{userName}}</strong></h2>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table dataTable no-footer" id="datatables__example">
            <thead>
            <tr role="row"><th width="50%" class="sorting_asc" tabindex="0" aria-controls="datatables__example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
                          Name
                        : activate to sort column descending" style="width: 368px;">
              Full File Name
            </th><th class="sorting" tabindex="0" aria-controls="datatables__example" rowspan="1" colspan="1" aria-label="
                          Account type
                        : activate to sort column ascending" style="width: 276px;">
              File Project
            </th><th class="sorting" tabindex="0" aria-controls="datatables__example" rowspan="1" colspan="1" aria-label="
                          Account type
                        : activate to sort column ascending" style="width: 276px;">
              Size
            </th><th class="sorting" tabindex="0" aria-controls="datatables__example" rowspan="1" colspan="1" aria-label="
                          Account type
                        : activate to sort column ascending" style="width: 276px;">
              Date of Upload
            </th>
              <th class="sorting" tabindex="0" aria-controls="datatables__example" rowspan="1" colspan="1" aria-label="
                          Account type
                        : activate to sort column ascending" style="width: 276px;">
                Download
              </th>
              <th class="sorting" tabindex="0" aria-controls="datatables__example" rowspan="1" colspan="1" aria-label="
                          Account type
                        : activate to sort column ascending" style="width: 276px;">
                Delete
              </th>
            </tr>
            </thead>
            <tbody>
            <tr role="row" class="odd"
                *ngFor="let file of files">
              <td class="sorting_1">
                <a><strong (click)="onDownload(file)">{{file.fullFileName}}</strong></a>
              </td>
              <td>
                <a [routerLink]="['/main','project-files',file.fileProject]">{{file.fileProject}}</a>
              </td>
              <td>
                {{file.size/1024/1024 | number:'.2'}} Mb
              </td>
              <td>
                {{file.fileDate}}
              </td>
              <td>
                <button class="btn btn-primary" (click)="onDownload(file)">Download</button>

              </td>
              <td>
                <button class="btn btn-danger" (click)="onDelete(file)">Delete</button>

              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
